// vars -------------------------------------

$c-white: #ffffff;
$c-black: #000000;
$c-transparent: transparent;

$c-green: #69b433;
$c-alpine: #b48833;
$c-grey: #acacac;
$c-grey-dark: #555555;
$c-blue: #2992d0;
