.video {
    padding-top: 0px;
    padding-bottom: 55px;
    box-shadow: 0px 1px 4px 0px $c-grey-dark;
    background: linear-gradient(-178deg, transparent 93%, $c-grey-little 0);
    position: relative;

    .video-wrapper {
        background: url(../img/video_bg.png.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        position: relative;
        min-height: 705px;

        @media only (max-width: 991px) {
            min-height: 600px;
        }

        @media only (max-width: 576px) {
            min-height: 500px;
        }
    }
}